/*About bg*/
#about-bg {
  position: relative;
  background-image: url(../images/about/about2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 100px;
  text-transform: uppercase;
  padding: 100px 0;
  color: #fff; }

.about-bg-heading {
  font-family: 'Josefin', sans-serif;
  font-weight: 900;
  text-align: center;
  line-height: 40px;
  z-index: -2; }

.about-bg-heading h1 {
  font-size: 40px; }

.about-bg-heading p {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-weight: 400;
  font-size: 16px; }

.about-bg-wrapper {
  color: #fff;
  text-align: center;
  margin-top: 30px;
  z-index: -2; }

#about-bg .about-bg-wrapper .count {
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  font-size: 45px;
  margin-right: 20px;
  text-align: center;
  float: left;
  color: #01b1d7; }

#about-bg .about-bg-wrapper p {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
  float: left; }

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
  .about-bg-heading h1 {
    font-size: 28px; }
  .about-bg-wrapper {
    margin-left: 25%; } }

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
  .about-bg-heading h1 {
    font-size: 30px; }
  .about-bg-wrapper {
    margin-left: 35%; } }
