/*Client*/
#client {
  margin-top: 100px;
  text-align: center; }

#client .col-md-2 {
  height: 100px; }

#client span {
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

#client img {
  max-height: 100px;
  vertical-align: middle; }
