/*Main Slider*/
#slider {
  margin: 0;
  padding: 0;
  position: relative; }

.flexslider {
  border: 0; }

/*Slider Caption*/
#slider .caption {
  position: absolute;
  width: 600px;
  top: 50%; }

#slider .caption h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-transform: uppercase; }

#slider .caption span {
  padding: 0 10px;
  background-color: #01b1d7;
  color: #fff; }

#slider .caption p {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-style: italic;
  margin-top: 30px;
  color: #01b1d7; }

#slider .caption button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-top: 20px;
  background-color: #01b1d7;
  color: #fff;
  border: 1px solid #fff; }

#slider .caption button:hover {
  background-color: #fff;
  border: 1px solid #01b1d7;
  transition: 0.3s;
  color: #01b1d7; }

/*Media*/
@media screen and (min-width: 320px) and (max-width: 520px) {
  #slider .caption {
    position: absolute;
    width: 400px;
    top: 55%; }
  #slider .caption h2 {
    font-size: 15px; }
  #slider .caption p {
    font-size: 10px;
    font-style: italic;
    margin: 0;
    padding: 0;
    color: #01b1d7; }
  #slider .caption .btn {
    width: 80px;
    height: 20px;
    font-size: 10px;
    margin-top: 5px;
    padding: 0; } }

/*Media*/
@media screen and (min-width: 521px) and (max-width: 980px) {
  #slider .caption {
    position: absolute;
    width: 450px;
    top: 50%; }
  #slider .caption h2 {
    font-size: 24px; }
  #slider .caption p {
    font-size: 16px;
    font-style: italic;
    margin-top: 15px;
    color: #01b1d7; }
  #slider .caption .btn {
    width: 110px;
    height: 30px;
    font-size: 12px;
    margin-top: 15px; } }

/*Control Nav*/
#slider .flex-control-nav {
  position: absolute;
  display: inline;
  z-index: 2; }

#slider .flex-control-nav li {
  margin: 5px;
  display: inline-block; }

#slider .flex-control-paging li a {
  background: #fff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 1px solid #01b1d7; }

#slider .flex-control-paging li a:hover {
  background: #01b1d7; }

#slider .flex-control-paging li a.flex-active {
  background: #01b1d7;
  width: 12px;
  height: 12px; }
