/*General*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-size: normal;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased; }

a {
  text-decoration: none;
  -moz-transition: all linear .3s;
  -webkit-transition: all linear .3s;
  -o-transition: all linear .3s;
  transition: all linear .3s; }

a:hover {
  text-decoration: none; }

img {
  max-width: 100%; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #7e7e7e;
  border-width: 1px;
  border-style: solid;
  padding: 0 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition: border linear .3s;
  -webkit-transition: border linear .3s;
  -o-transition: border linear .3s;
  transition: border linear .3s; }

textarea {
  padding: 15px; }

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus {
  background: rgba(62, 212, 255, 0.5);
  border-color: #01b1d7 !important;
  outline: none;
  color: #333; }

.btn {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 600;
  width: 120px;
  height: 40px;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: background .3s linear;
  -webkit-transition: background .3s linear;
  -o-transition: background .3s linear;
  transition: background .3s linear; }

.btn:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none; }

.cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2; }

.container {
  position: relative;
  z-index: 3; }
