/*Header*/
/*Top nav left*/
.top-nav {
	;
	color: #333;
	line-height: 40px;
	border-bottom: 1px solid #01b1d7;
}

/*Top left Menu*/
.top-left {
	float: left;
}

.top-left ul >li {
	display: inline-block;
	margin-right: 15px;
}

.top-left a {
	font-size: 16px;
	color: #333;
}

.top-left a:hover {
	color: #01b1d7;
}

/*Top Right Menu*/
.top-right {
	float: right;
}

.top-right p:before {
	content: "\f041";
	font-family: 'FontAwesome';
	font-size: 16px;
	color: #01b1d7;
	margin-right: 10px;
}

.top-right p {
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 14px;
}

.top-right p > span {
	margin-left: 5px;
	font-style: italic;
	font-weight: 400;
}

/*Nagivation*/
#main-nav {
	padding: 15px 0;
}

/*Affix*/
#main-nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    color: #fff;
    z-index:10;
	-moz-box-shadow: 0 1px 2px #ebebeb;
	-webkit-box-shadow: 0 1px 2px #ebebeb;
	box-shadow: 0 5px 5px rgba(0,0,0,.15);
    transition: all 0.3s;
}

.navbar {
	margin:0;
}

#main-nav .navbar-header a {
	background-color: #01b1d7;
	color: #fff;
}
/*Toggle Menu*/
#main-nav .navbar-toggle {
	background-color: #01b1d7;
}

#main-nav .navbar-toggle span {
	background-color: #fff;
}

/*Main Menu*/
#main-nav .navbar-right {
	margin-top: 10px;
}
#main-nav .navbar-right li > a {
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 30px;
	color: #555;
	padding-top: 0;
	padding-bottom: 0;
	text-transform: uppercase;
}

#main-nav .navbar-right li > a:focus {
	color: #01b1d7;
    background: none;
    outline: none;
}

#main-nav .navbar-nav>li>a:hover,
#main-nav .navbar-nav>li.active>a {
	color: #01b1d7;
    background: none;
}
html,
body,
header,
#intro{
	height: 100%;
}

.intro{

	background:url("/images/slider/slider2.jpg")no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
	-o-background-size: cover;
  background-attachment: scroll;
	width: 100%;
	display: table;


}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;
}
.content {
 	max-width: 500px;
	margin: 0 10px;

	text-align: left;


}

.content h1{
 	font-family: 'Josefin', sans-serif;
	font-weight: 900;
	text-shadow: 0px 0px 300px #000;
	font-size :500%;


}

.content .btn{
	border: solid black 3px;
	border-radius: 9px;
	border-color:black;
	color:#333;
	font-size: 150%;

}
.content p{
	color:black;
}
.content .btn:hover{
	color:white;
	border :solid white 4px;
	background :black;
}

@media screen and (max-width: 500px) {
  .content h1 {
		font-family: 'Josefin', sans-serif;
		font-weight: 900;
		text-shadow: 0px 0px 300px #000;
		font-size :300%;

  }
	content .btn{
		border: solid black 3px;
		border-radius: 9px;
		border-color:black;
		color:#333;
		font-size: 100%;

	}
}
